-
    /**
    * The template for displaying the footer
    *
    * @package WordPress
    **/
     
.footer-container
    .container
        #row
            footer#footer.site-footer(role="contentinfo")
                #buttons.col-xs-12.col-sm-12.col-md-4.col-lg-4
                    #events.btn Events
                    #notifications.btn Notifications
                #social-icons.col-xs-12.col-sm-12.col-md-4.col-lg-4
                #copyright.col-xs-12
                    .copyright
                        a(href!="<?php echo get_option('home'); ?>")
| 
|<?php wp_footer(); ?>
| 
|</body>