-
    /*
    * Template Name: Home Page
    */
    get_header();
.body-bg
    .head-container
        .head.filter
        .head-image
            #down-arrow
                i.fa.fa-arrow-down
            .container
                .row
                    #head-content.col-xs-12
                        h1#rndm-word
                        ul.hp-btns
                            li
                                button.btn.btn-default.btn-head1 Sermons
                            li
                                button.btn.btn-default.btn-head2 Learn More
        .head-filter
    .statement-container
        .container
            .row
                .statement
                    h1 Welcome to The Door Fellowship
                    p The Door Fellowship Church extends to all guests and visitors a warm welcome in Jesus' name. Our hope is that the Lord will meet your needs today, and that His joy and peace will go with you.
    .pastors-container.auto-height
        .pastors
            .container
                .row
                    .pastors-content.col-xs-6.right
                        h3.pastor-text Pastors<br>Wayne & Margarett<br>Holcomb 
                        p. 
                            Et magna distinguantur, voluptate dolor laboris mentitum sed est velit 
                            efflorescere a aliqua occaecat probant. Multos probant ne dolor nisi non aut 
                            dolor nescius sempiternum. 
    .blocks-container
        .container
            .row
                .col-xs-12.block
                    .home-grp-block
                        .overlay
                    .missions-block
                    .get-connected-block
        
        .container
            .row
                .col-xs-12
                    - if( have_posts() ) : while ( have_posts() ) : the_post();
                        article
                            header
                                h1.page-title(itemprop="headline") About Us
                            .home-content
                                -the_content();
                    -endwhile; else :
                        |Oops.... Looks like we are missing some content. Try Searching here for it.
                    -get_search_form();
                    -endif;
                    -wp_reset_query();
- get_footer();