form#searchform.searchform(role="search", method="get", action!="<?php echo esc_url( home_url( '/' ) ); ?>")
    div
        input#searchsubmit(type="submit", value!="<?php echo esc_attr_x( 'Search', 'submit button' ); ?>")
        label.screen-reader-text(for="s")
            - _x( 'Search for:', 'label' );
        input#autocomplete(title!="type &quot;a&quot;", type="text", value!="<?php echo get_search_query(); ?>", name="s", placeholder=" Help you find anything?")