-
    /**
    * The sidebar containing the main widget area
    *
    * @package WordPress
    *
    */
- if ( has_nav_menu( 'primary' ) || has_nav_menu( 'social' ) || is_active_sidebar( 'sidebar-1' )  ) :
    #secondary.secondary
        -if ( has_nav_menu( 'primary' ) ) :
        nav#site-navigation.main-navigation(role="navigation")
            -
                // Primary navigation menu.
                wp_nav_menu( array(
                    'menu_class'     => 'nav-menu',
                    'theme_location' => 'primary',
                ) );
            - endif;
        - if ( has_nav_menu( 'social' ) ) :
        nav#social-navigation.social-navigation(role="navigation")
            -
                // Social links navigation menu.
                wp_nav_menu( array(
                'theme_location' => 'social',
                'depth'          => 1,
                'link_before'    => '<span class="screen-reader-text">',
                'link_after'     => '</span>',
                ) );
            - endif;
        - if ( is_active_sidebar( 'sidebar-1' ) ) :
            #widget-area.widget-area(role="complementary")
                - dynamic_sidebar( 'sidebar-1' );
        -endif;
- endif;
