//--------------
//Style Sheet
//--------------

//--------------
// Header Styles
//--------------
.main-logo
  img
    position: relative
    margin: 0 0 10px
    width: 300px
    height: auto
    float: left

.underline
  border-bottom: 1px solid #000

.navigation
  background: #fff
  padding: 10px 0 0
  width: 100%

.head-container
  content: ''
  position: relative
  text-align: center
  overflow: hidden

.head-image
  height: 500px
  width: 100%
  background-image: url("../img/the-door.jpg")
  background-position: center bottom
  color: #fff
  text-align: center

#head-content
  margin-top: 50px
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8)

.empty-block
  height: 1000px

#head-video
  position: absolute
  bottom: 0
  right: 25px

#construction
  vertical-align: center
  text-align: center
  h5
    margin: 20px auto 5px

//------------
// Statement
//------------
.statement-container
  position: relative
  height: 300px
  width: 100%
  padding-top: 50px
  text-align: center
  background: #fff
  overflow: hidden

.statement
  max-width: 748px
  margin: 0 auto
  font-size: 20px
  h1
    color: #d22

//------------
// Pastors
//------------
.pastors-container
  height: 750px
  width: 100%
  background: goldenrod
  background-image: url("../img/wheat-field-sunset.jpg")
  background-position: center

.pastors-content
  text-align: center
  color: #fff
  margin-top: 100px

//--------------------
// Homepage Message
//--------------------
.message-container
  background: #fff
  height: auto
  width: 100%
  text-align: center
  color: #000

.message
  iframe
    max-width: 650px
    max-height: 400px

//------------
// Positions
//------------
.center
  text-align: center

.right
  float: right !important

//------------
// Body Styles
//------------
.container
  position: relative
  z-index: 2

.body-bg
  position: relative
  z-index: 2
  background: #fff
  padding-bottom: 50px

.main-bg
  background: #fff

.clear-container
  text-align: center
  h2
    padding: 15px 10px
    text-align: right
    font-weight: 100
    font-family: helvetica
    color: #fff
    margin-top: 0px

.home-content
  border: 1px solid $main-blue
  background: #ccc
  color: #333
  padding: 25px 30px

.home-service
  padding: 15px 0
  font-weight: bold

.full-width
  margin: 0 -15px

.dailyVersesWrapper a
  color: #000
  font-weight: bold

//----------------
// Button Styles
//----------------

.btn-directions
  margin: 8px 0
  width: 200px

//----------------
// Message Styles
//----------------

.message-content
  text-align: center
  h3
    font-weight: 100
    margin-top: 5px

.the-date
  font-family: Aria, serif
  color: rgb(162, 168, 201)
  font-size: 16px
  font-style: italic

//---------------
// Callout Styles
//---------------

.no-link
  \:hover
    text-decoration: none

.callout
  margin: 25px auto 0
  box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow
  height: auto
  width: 100%
  text-shadow: $box-shadow
  img
    width: 100%
    height: auto
    overflow-x: hidden
  h2
    \:hover
      text-decoration: none

.messages
  background: $main-blue

.devotions
  background: #722929

.events
  background: #366236

//--------------
// Footer Styles
//--------------

.footer-container
  height: 350px
  width: 100%
  background: #ccc
  bottom: 0
  padding-top: 25px

.footer
  margin-bottom: 25px

#searchsubmit
  height: 40px
  width: auto
  border-radius: 5px
  background-color: #2B3F53
  color: #fff
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
  \:hover
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0)
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0)
    color: #000

#s
  border-radius: 5px
  border: 1px solid #ddd
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
  width: 200px
